.quote {
  position: relative;

  background-color: var(--primary-color);
  padding: 50px 20px;
  border-radius: 1rem;

  & > p {
    font-size: var(--regular-size);
    color: var(--secondary-color);

    line-height: 120%;
  }
}
