.app {
  display: flex;
  flex-direction: column;
}

.sections {
  display: flex;
  flex-direction: column;

  background-image: url("/images/sections-bg.jpg");
  background-position: center;
  background-size: cover;
}

.congratulations {
  color: var(--primary-color);
  text-align: center;
  font-size: calc(var(--big-size) + 10px);
  padding-bottom: 150px;
}
