.memories {
  display: flex;
  flex-direction: column;
  gap: 150px;

  padding-top: 124px;

  background-image: url("/images/memories-page-bg.jpg");
  background-position: center;
  background-size: cover;

  height: 100vh;

  color: var(--primary-color);

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 100px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  &__button {
    text-decoration: none;
    border: none;

    padding: 1rem 50px 20px 50px;
    border-radius: 100px;
    background-color: #b3a3b9;

    font-size: var(--regular-size);
    color: var(--primary-color);
    letter-spacing: 6%;
    font-weight: 500;

    transition: all 200ms;

    &:hover {
      cursor: pointer;
      background-color: #857a89;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 90px;
    letter-spacing: 0.06em;
    text-align: center;

    line-height: 120%;

    padding-top: 150px;
  }

  &__wishes {
    font-size: var(--regular-size);
    width: 60%;

    & span {
      font-weight: bold;
    }
  }
}
