.loveLetter {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  padding: 150px 0 0 0;

  &__box {
    display: flex;
    justify-content: center;
  }

  &__paper {
    position: relative;
    max-width: 1092px;

    display: flex;
    flex-direction: column;
    gap: 40px;

    padding: 60px 80px 40px 80px;

    background-color: var(--primary-color);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &_first {
      padding-right: 10rem;
    }

    p {
      font-size: var(--regular-size);
      color: var(--secondary-color);
    }
  }

  &__title {
    text-align: center;

    font-weight: 400;
    font-size: var(--medium-size);
  }

  &__block {
    display: flex;
    justify-content: end;
  }

  &__wishes {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 60%;
    text-align: end;
  }
}
